# Prerequisites
*.d

# Build results
/[Bb]uild/**
/x64-Debug/**
/out/**

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs

/CMake/Tutorial/CmakeTutorial/01GoogleTest/out/build/x64-Debug/CMakeFiles/3.19.20122902-MSVC_2
/CMake/Tutorial/CmakeTutorial/01GoogleTest/out/build/x64-Debug
/CMake/Tutorial/CmakeTutorial/02Boost/out/build/x64-Debug
/CMake/Tutorial/CmakeTutorial/03QtGL/out/build/x64-Debug
