# Prerequisites
*.d

# Build results
[Bb]uild/
x64-Debug/
out/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/CMakeTutorial/Examples/05FBX
/CMakeTutorial/Examples/04OpenCV
